*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--bg:#000000;
	--calculator_bg:rgb(20, 20, 20);
	--button:rgb(50, 50, 50);
	--button_hover:rgb(70, 70, 70);
	--text:#ffff;
	--border: #111827;
}

h1 {
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
	margin: 0;
	font-family:Inter, Roboto, Arial, sans-serif;
	background: var(--bg);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	min-height: 100vh
}

.container {
	border-radius: 2px;
	border: 1px solid var(--border);
	background: var(--calculator_bg);
	color: white;
}

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 20px 0;
	height: 40px;
	text-transform: uppercase;
}

.button_burger {
	position: absolute;
	left: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 35px;
	transition: background 0.15s linear;
}

.button_burger:hover,
.button_history:hover,
.button_history_delete:hover {
	border-radius: 4px;
}

.burger_inner {
	position: relative;
	display: block;
	width: 25px;
	height: 2px;
	top: 0;
	border-radius: 4px;
	background-color: white;
	transition: transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.burger_inner::before,
.burger_inner::after {
	position: absolute;
	content: '';
	display: block;
	width: 25px;
	height: 2px;
	border-radius: 4px;
	background-color: white;
}

.burger_inner:before {
	top: -8px;
	transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.burger_inner::after {
	bottom: -8px;
	transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.button_history {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 4px;
	width: 35px;
	height: 35px;
	top: 3px;
}

.calculator_header {
	font-size: 18px;
}

.calculator {
	display: flex;
	flex-direction: column;
	min-height: 400px;
	width: 400px;
}

.history_display {
	width: 100%;
	height: 50px;
	color: gray;
	padding: 5px;
}

.current_expression_input {
	width: 100%;
	height: 40px;
	margin: 0 0 10px 0;
	padding: 5px;
	font-size: 28px;
	color: white;
	background: var(--calculator_bg);
	border: none;
}

.history_display,
.current_expression_input {
	text-align: right;
}

.current_expression_input:focus {
	outline: none;
}

.history_container {
	background-color: var(--button);
	height: 0;
	min-height: 0;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
}

.history_container.show {
	position: relative;
	min-height: 310px;
	opacity: 1;
	pointer-events: auto;
	padding: 10px;
}

.history_text {
	user-select: text;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
}

.button_history_delete {
	position: absolute;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 8px;
	right: 4px;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 5px;
	width: 100%;
	flex-grow: 1;
	padding: 5px;
}

.reset {
	grid-column-start: 1;
	grid-column-end: 3;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--button);
	border-radius: 6px;
	cursor: pointer;
}

.button_burger:hover,
.button_history:hover,
.button_history_delete:hover,
.button:hover {
	background: var(--button_hover);
}

@media (width <= 430px) {
	.calculator {
		width: clamp(290px, 90vw, 400px);
	}
}