*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--bg: #000000;
	--calculator_bg: rgb(20, 20, 20);
	--button: rgb(50, 50, 50);
	--button_hover: rgb(70, 70, 70);
	--text: #ffff;
	--border: #111827;
}

h1, h2, p {
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
	margin: 0;
	font-family: Inter, Roboto, Arial, sans-serif;
	background: var(--bg);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	min-height: 100vh
}

.container {
	border-radius: 2px;
	border: 1px solid var(--border);
	background: var(--calculator_bg);
	color: white;
}

.calculator {
	position: relative;
	width: clamp(400px, 82vw, 600px);
	min-height: 500px;
}

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 20px 0;
	height: 40px;
	text-transform: uppercase;
}

.button_burger {
	position: absolute;
	left: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 35px;
	transition: background 0.15s linear;
}

.button_burger:hover,
.button_history:hover,
.button_history_delete:hover {
	border-radius: 4px;
}

.burger_inner {
	position: relative;
	display: block;
	width: 25px;
	height: 2px;
	top: 0;
	border-radius: 4px;
	background-color: white;
	transition: transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.burger_inner::before,
.burger_inner::after {
	position: absolute;
	content: '';
	display: block;
	width: 25px;
	height: 2px;
	border-radius: 4px;
	background-color: white;
}

.burger_inner:before {
	top: -8px;
	transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.burger_inner::after {
	bottom: -8px;
	transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.button.log_open {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 4px;
	width: 35px;
	height: 35px;
	top: 3px;
	background: none;
}

.calculator_header {
	font-size: 18px;
}

.history_display {
	width: 100%;
	height: 40px;
	color: gray;
	padding: 5px;
}

.display {
	width: 100%;
	height: 40px;
	margin: 0 0 10px 0;
	padding: 5px;
	font-size: clamp(20px, 3vw, 25px);
	color: white;
	background: var(--calculator_bg);
	border: none;
}

.history_display,
.display {
	text-align: right;
}

.display:focus {
	outline: none;
}

.log_items {
	position: absolute;
	right: 5px;
	top: 5px;
	bottom: 5px;
	width: 0;
	background-color: var(--button);
	transition: width 0.3s ease;
	overflow: hidden;
	opacity: 0;
	pointer-events: auto;
}

.log_items.show {
	width: clamp(190px, 30vw, 200px);
	opacity: 1;
	padding: 10px 0 0 0;
	display: flex;
	flex-direction: column;
}

.log_list {
	overflow-y: auto;
	flex: 1;
	height: 300px;
}

.log_header {
	position: relative;
	text-transform: uppercase;
	text-align: center;
	font-size: 15px;
	display: flex;
	justify-content: center;
	height: 31px;
	transition: color 0.3s ease;
}

.log_header::before {
	position: absolute;
	content: '';
	display: flex;
	width: 82px;
	height: 2px;
	border-radius: 4px;
	background-color: var(--text);
	top: 20px;
}

.log_item {
	user-select: text;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: column;
	margin: 0 0 10px 0;
	padding: 5px;
	transition: background 0.15s linear;
	align-items: flex-end;
	white-space: nowrap;
}

.log_item:hover {
	background: var(--button_hover);
	width: 100%;
}

.log_expression {
	color: gray;
	font-size: 13px;
}

.log_result {
	font-size: clamp(13px, 2vw, 15px);
}

.button.log_delete {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	align-self: flex-end;
	margin: 5px;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 5px;
	width: 100%;
	flex-grow: 1;
	padding: 5px;
	transition: width 0.3s ease;
	height: 390px;
}

.calculator.opened .header,
.calculator.opened .history_display,
.calculator.opened .display,
.calculator.opened .buttons {
	width: clamp(300px, 51vw, 395px);
}

.reset {
	grid-column-start: 1;
	grid-column-end: 3;
}

.backspace,
.equals {
	grid-column-start: 3;
	grid-column-end: 5;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--button);
	border-radius: 6px;
	cursor: pointer;
}

.log_items.show .buttons {
	width: 390px;
}

.opened_parenthesis_counter {
	position: absolute;
	bottom: 6px;
	left: 55px;
	transform: translateX(-50%);
	font-size: 12px;
}

.opened_parenthesis_counter.hidden {
	display: none;
}

.button_burger:hover,
.log_open:hover,
.log_delete:hover,
.button:hover {
	background: var(--button_hover);
}

@media (width <= 630px) {
	.log_items {
		min-height: 0;
		opacity: 0;
		overflow: hidden;
		pointer-events: none;
		transform: translateY(100%);
		transition: transform 0.3s ease, opacity 0.2s ease;
	}

	.log_items.show {
		position: relative;
		left: 0;
		min-height: 390px;
		opacity: 1;
		pointer-events: auto;
		padding: 10px 0 0 0;
		text-align: right;
		display: flex;
		flex-direction: column;
		width: 100%;
		transform: translateY(0);
	}

	.calculator.opened .buttons {
		display: none;
	}

	.calculator.opened .header,
	.calculator.opened .history_display,
	.calculator.opened .display,
	.calculator.opened .buttons {
		width: 100%;
	}
}

@media (width <= 430px) {
	.calculator {
		width: clamp(290px, 90vw, 400px);
	}
}